<launch>
  <param name="odom_com" value="8001"/>
  <param name="tf_com" value="8002"/>
  <param name="scan_com" value="8007"/>
  <param name="scantopic_name" value="/robot_0/scan"/>
  <param name="odomtopic_name" value="/robot_0/odom"/>
  <param name="maptopic_name" value="/map"/>
  <param name="mapupdatetopic_name" value="/tb3_0/map_updates"/>
  <param name="baselink_name" value="/robot_0/base_link"/>
  <param name="laserlink_name" value="/robot_0/base_link"/>
  <!--node pkg="tf" type="static_transform_publisher" name="robot0_laser_to_base" args="0 0 0.09 0 0 0 1 /robot_0/base_link /robot_0/laser_link 100"/-->
  <node pkg="multi_master" name="odom_server_robot0" type="odom_server.py" output="screen"/>
  <node pkg="multi_master" name="scan_server_robot0" type="scan_server.py" output="screen"/>  
  <node pkg="multi_master" name="tf_server_robot0" type="tf_server_robot0.py" output="screen"/>
</launch> 
