<launch>
  <param name="odom_com" value="8003"/>
  <param name="tf_com" value="8004"/>
    <param name="scan_com" value="8010"/>
  <node pkg="multi_master" name="data_client_robot1" type="data_client_robot1.py" output="screen"/>
  <node pkg="multi_master" name="tf_client" type="tf_client.py"/>
</launch> 
